@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
:root {
  --border-radius-nav: 20px;
  --main-bg-color: #6366f1;
  --secondary-bg-color: #c7d2fe;
  --font-size--small: 0.8rem;
  --font-size--small-larg: 0.9rem;
  --font-size-medium: 1.1rem;
  --font-size-large: 1.2rem;
}

.wrapper {
  display: grid;
  grid-template-columns: minmax(min-content, 18rem) 10fr;
  grid-template-areas:
    "sidebar navigation"
    "sidebar main-container";
  min-height: 100vh;
  grid-template-rows: auto auto;
}
.navigation {
  grid-area: navigation;
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  align-items: end;
  gap: 20px;
  padding: 15px 26px;
  box-shadow: 0px 5px 5px 0px #3636364f;
  position: relative;
  align-items: center;
  padding-right: 60px;
}
.nav-search {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-search label {
  margin-top: 6px;
}
.nav-search input {
  flex-grow: 1;
  border-radius: var(--border-radius-nav);
  border: none;
  background-color: #c7d2fe;
  height: 25px;
  padding: 13px;
}
.notification-span {
  justify-self: flex-end;
  display: flex;
  gap: 30px;
  align-items: center;
  margin-right: 7rem;
}
.notification-span .img,
.trending .img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: blue;
}
.nav-username {
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: center;
}
.nav-username .img {
  display: inline-block;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: blue;
}
.nav-introduction {
  align-self: center;
}
.nav-introduction p {
  font-size: var(--font-size--small);
}
.nav-buttons {
  display: flex;
  gap: 20px;
  align-self: center;
  justify-content: center;
}
.nav-buttons button {
  background-color: var(--main-bg-color);
  border: none;
  border-radius: var(--border-radius-nav);
  color: white;
  width: 80px;
  height: 35px;
}
.sidebar {
  display: grid;
  grid-template-rows: repeat(3, max-content);
  row-gap: 5rem;
  grid-area: sidebar;
  background-color: var(--main-bg-color);
  z-index: 2;
  color: white;
  padding: 15px 1.5rem;
  padding-right: 0;
}
.sidebar .logo {
  display: flex;
  color: white;
  justify-self: flex-start;
  align-items: center;
}
.cat-svg {
  fill: white;
}

.sidebar h1 {
  font-size: 1.3rem;
}
.sidebar > ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.2rem;
  font-weight: 600;
}
.sidebar > ul > li {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.main-container {
  display: grid;
  gap: 20px;
  grid-area: main-container;
  background-color: var(--secondary-bg-color);
  padding: 2rem;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "main-left-container announcements" "main-left-container trending";
  grid-template-rows: auto auto;
}
.main-left-container {
  flex-grow: 1;
  grid-area: main-left-container;
  display: grid;
  grid-template-rows: min-content auto;
}
.header-main-container {
  margin-bottom: 1rem;
}
.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));

  gap: 40px;
}
.project-cards {
  background-color: white;
  border-radius: 8px;
  min-height: 18rem;
  border-left: solid 8px #9333ea;
  padding: 30px 25px;
  box-shadow: 5px 5px 5px 0px #3636364f;
  display: grid;
  grid-template-rows: min-content 1fr auto;
  align-items: flex-start;
  padding-bottom: 15px;
  gap: 10px;
}
.project-buttons ul {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-right: 10px;
  color: black;
  font-size: 10px;
}
.main-right-container {
  display: grid;
  grid-template-rows: max-content 1fr;
}
.announcements {
  grid-area: announcements;
  display: flex;
  flex-direction: column;
}
.trending {
  grid-area: trending;
  display: flex;
  flex-direction: column;
}
.trending > ul,
.announcements > ul {
  flex-grow: 1;
}

.announcements-list,
.trending-list {
  display: flex;
  flex-direction: column;
  padding: 35px 25px;
  gap: 1rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 5px 5px 5px 0px #3636364f;
}
.trending-list {
  gap: 2rem;
}
.trending-list > li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: var(--font-size-medium);
  font-weight: 100;
}
.announcements-list > li:not(:last-of-type) {
  border-bottom: 1px solid #9294e7;
}
.announcements-list > li > :not(h5, h4),
.project-cards > :not(h5, h4) {
  color: #9294e7;
  font-size: var(--font-size-medium);
}
h4 {
  font-size: 1.3rem;
}
h5 {
  font-size: 1.25rem;
}
.announcements-list > li > p {
  font-size: var(--font-size--small);
  margin-top: 0.2rem;
}
.announcements-list > li {
  padding-bottom: 1rem;
}
.announcements-list > li > p,
.project-cards > p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

ul {
  list-style-type: none;
}

button,
.project-buttons span,
label[for="search-input"],
.notification-span,
.sidebar-nav > li {
  cursor: pointer;
}
