* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
:root {
  --border-radius-nav: 20px;
  --main-bg-color: #6366f1;
  --secondary-bg-color: #c7d2fe;
  --font-size--small: 0.5rem;
  --font-size-medium: 0.8rem;
  --font-size-large: 1.2rem;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-areas:
    "sidebar navigation"
    "sidebar main-container";
  min-height: 100vh;
  grid-template-rows: 1fr 5fr;
}
.navigation {
  grid-area: navigation;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  gap: 20px;
  padding: 15px 50px;
  box-shadow: 0px 5px 5px 0px #3636364f;
  position: relative;
}
.nav-search {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-search input {
  flex-grow: 1;
  border-radius: var(--border-radius-nav);
  border: none;
  background-color: #c7d2fe;
  height: 25px;
}
.notification-span {
  justify-self: flex-end;
  display: flex;
  gap: 20px;
}
.nav-username {
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: center;
}
.nav-username .img {
  display: inline-block;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: blue;
}
.nav-buttons {
  justify-self: flex-end;
  display: flex;
  gap: 20px;
  align-self: center;
}
.nav-buttons button {
  background-color: var(--main-bg-color);
  border: none;
  border-radius: var(--border-radius-nav);
  color: white;
  width: 80px;
  height: 30px;
}
.sidebar {
  display: grid;
  grid-template-rows: repeat(3, max-content);
  row-gap: 50px;
  grid-area: sidebar;
  background-color: var(--main-bg-color);
  z-index: 2;
  color: white;
  padding: 15px 1rem;
}
.sidebar > ul {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  font-size: 1.2rem;
}

.main-container {
  display: grid;
  gap: 20px;
  grid-area: main-container;
  background-color: var(--secondary-bg-color);
  padding: 2rem;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "main-left-container announcements" "main-left-container trending";
  grid-template-rows: auto 1fr;
}
.main-left-container {
  flex-grow: 1;
  grid-area: main-left-container;
}
.header-main-container {
  margin-bottom: 1rem;
}
.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 360px);

  gap: 40px;
  grid-auto-rows: 190px;
}
.project-cards {
  background-color: white;
  border-radius: 8px;
  min-height: 180px;
  min-width: 120px;
  border-left: solid 8px #9333ea;
  padding: 30px 25px;
  box-shadow: 5px 5px 5px 0px #3636364f;
}
.main-right-container {
  display: grid;
  grid-template-rows: max-content 1fr;
}
.announcements {
  grid-area: announcements;
}
.trending {
  grid-area: trending;
  display: flex;
  flex-direction: column;
}
.trending > ul {
  flex-grow: 1;
}

.announcements-list,
.trending-list {
  display: flex;
  flex-direction: column;
  padding: 35px 25px;
  gap: 1rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 5px 5px 5px 0px #3636364f;
}
.announcements-list > li:not(:last-of-type) {
  border-bottom: 1px solid #9294e7;
}
.announcements-list > li > :not(h4),
.project-cards > :not(h4) {
  color: #9294e7;
  font-size: var(--font-size-medium);
}
.announcements-list > li > p {
  font-size: var(--font-size--small);
  margin-top: 0.8rem;
}
.announcements-list > li {
  padding-bottom: 1rem;
}
.announcements-list > li > p,
.project-cards > p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

ul {
  list-style-type: none;
}
